@keyframes slide-in-from-left {
  from {
    transform: translateX(-7%)
  }
  to {
    transform: translateX(0%)
  }
}

@keyframes slide-in-from-right {
  from {
    transform: translateX(7%)
  }
  to {
    transform: translateX(0%)
  }
}

@keyframes slide-in-from-up {
  from {
    transform: translateY(-7%)
  }
  to {
    transform: translateY(0%)
  }
}

@keyframes slide-in-from-down {
  from {
    transform: translateY(7%)
  }
  to {
    transform: translateY(0%)
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}