html[global-setting-theme=light]{
	/* ---------------------------------------------------------------------------------------------- */
	/*  Colors */
	/* ---------------------------------------------------------------------------------------------- */
	/* Colors */
	$color-primary: #0CC;

	/* ---------------------------------------------------------------------------------------------- */
	/* Typography */
	/* ---------------------------------------------------------------------------------------------- */
	/* Text Style */
	$text-color-base: #000;
	$text-color-muted: #616161;

}

html[global-setting-theme=dark]{
	/* ---------------------------------------------------------------------------------------------- */
	/*  Colors */
	/* ---------------------------------------------------------------------------------------------- */
	/* Colors */
	$color-primary: #0CC;

	/* ---------------------------------------------------------------------------------------------- */
	/* Typography */
	/* ---------------------------------------------------------------------------------------------- */
	/* Text Style */
	$text-color-base: #000;
	$text-color-muted: #616161;

}

/* ---------------------------------------------------------------------------------------------- */
/*  Colors */
/* ---------------------------------------------------------------------------------------------- */
/* Colors */
$color-primary: #0CC;

/* ---------------------------------------------------------------------------------------------- */
/* Typography */
/* ---------------------------------------------------------------------------------------------- */
/* Text Style */
$text-color-base: #000;
$text-color-muted: #616161;
