.wrapper-LoginPage{
/* ---------------------------------------------------------------------------------------------- */
/*  */
/* ---------------------------------------------------------------------------------------------- */
main{
  /*
  * -- Box model and Layout definitions ---------------------------------------------
  */
  display: flex;
  background-image: url(/svg/login-background.svg);

  @media only screen and (max-width: 767px) {/* mobile */
    flex-direction: column;
  }

  @media only screen and (min-width: 767px) {/* desktop */
    justify-content: end;
  }
}

/* ---------------------------------------------------------------------------------------------- */
/*  */
/* ---------------------------------------------------------------------------------------------- */
main > section.login-screen{
  /*
  * -- Box model and Layout definitions ---------------------------------------------
  */
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  align-items: center;
  background: #FFF;

  /*
  * -- Subcomponents and behaviours definitions -------------------------------------
  */
  > header{
    img{
      width: 18rem;
    }

  }
}

/* ---------------------------------------------------------------------------------------------- */
/*  */
/* ---------------------------------------------------------------------------------------------- */
main > section.login-screen > form{
  /*
  * -- Box model and Layout definitions ---------------------------------------------
  */
  width: min(28rem, 95vw);
  height: 27rem;
  display: flex;
  padding: 2rem 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.7rem;
  animation: 1s slide-in-from-up, 0.5s fade-in;

}

main > section.login-screen > form > header{
  display: flex;
  flex-direction: column;
  > h1{
    font-size: 1.4rem;
    font-weight: 600;
  }
}

main > section.login-screen > form > fieldset{
  /*
  * -- Box model and Layout definitions ---------------------------------------------
  */
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  gap: 1.5rem;
  border: none;

  /*
  * -- Subcomponents and behaviours definitions -------------------------------------
  */
  > .field{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 0.525rem;


    /* text styles */
    > .error{
      color: #BB0606;
      font-size: 0.84rem;
      line-height: 113.9%; /* 0.99663rem */
    }

    > input{
      display: flex;
      padding: 0.8rem 1rem;
      border-radius: 0.4rem;
      border: 1px solid #E0E0E0;
      background: #FAFAFA;

      &::placeholder{
        color: #B3B3B3;
      }
    }

    > label{
      font-size: 0.875rem;
      line-height: 113.9%; /* 0.99663rem */
    }
  }
}

main > section.login-screen > form > footer{
  > .send{
    display: flex;
    width: 20rem;
    height: 3.5rem;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-weight: 600;
    border-radius: 0.4rem;
    background: #42B8C3;
    transition: transform 0.3s;

    &:hover:not(:active){
      cursor: pointer;
      transform: scale(1.03);
    }

    &[disabled]{
      background: #FFF;
      color: #B3B3B3;
      border: 1px #B3B3B3 solid;
    }
  }
}

/* ---------------------------------------------------------------------------------------------- */
/*  */
/* ---------------------------------------------------------------------------------------------- */
}