.wrapper-PatientNewAppointment{
/* ---------------------------------------------------------------------------------------------- */
/*  */
/* ---------------------------------------------------------------------------------------------- */
aside.navigation-menu{
  /*
  * -- Box model and Layout definitions ---------------------------------------------
  */
  top: 0;
  position: fixed;
  height: 100vh;
  display: grid;
  justify-content: center;
  padding: 2rem 0rem;

  @media only screen and (max-width: 767px) {/* mobile */
  
  }

  @media only screen and (min-width: 767px) {/* desktop */
    left: 0;
    width: 18rem;
    grid-template-rows: 
      0.4fr
      0.5fr
      1fr;
  }

  /*
  * -- Box and text styles definitions ----------------------------------------------
  */
  animation: 0.5s slide-in-from-left, 1s fade-in;
  background: #F8F7FF;
  box-shadow: -5px 0px 10px 0px rgba(0, 0, 0, 0.05) inset;

  /*
  * -- Subcomponents and behaviours definitions -------------------------------------
  */
  .site-logo{
    width: 14rem;
    justify-self: center;
  }
}

aside.navigation-menu > .navigation-bar{
  /*
  * -- Box model and Layout definitions ---------------------------------------------
  */
  display: flex;
  padding: 0rem 0.5rem;
  flex-direction: column;
  gap: 2rem;

  @media only screen and (max-width: 767px) {/* mobile */
  }

  @media only screen and (min-width: 767px) {/* desktop */
  }

  /*
  * -- Box and text styles definitions ----------------------------------------------
  */

  /*
  * -- Subcomponents and behaviours definitions -------------------------------------
  */
  a{
    display: flex;
    padding: 0rem 1.5rem;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;

    color: #8A898B;
    font-family: DM Sans;
    font-size: 0.975rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
  }
}

aside.navigation-menu > .actions{
  /*
  * -- Box model and Layout definitions ---------------------------------------------
  */
  align-self: end;
  display: flex;
  justify-content: center;

  /*
  * -- Subcomponents and behaviours definitions -------------------------------------
  */
  a{
    display: flex;
    width: 11.5rem;
    padding: 0.75rem 0rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;


    border-radius: 0.5rem;
    background: #42A7C3;

    color: #FFF;
    font-family: DM Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
  }
}

aside.user-menu{
  /*
  * -- Box model and Layout definitions ---------------------------------------------
  */
  top: 0;
  position: fixed;
  height: 100vh;
  display: grid;
  animation: 0.5s slide-in-from-right, 1s fade-in;

  @media only screen and (max-width: 767px) {/* mobile */
  
  }

  @media only screen and (min-width: 767px) {/* desktop */
    right: 0;
    width: 18rem;
  }

  /*
  * -- Box and text styles definitions ----------------------------------------------
  */
  background: #F8F7FF;
  box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.05) inset;

  /*
  * -- Subcomponents and behaviours definitions -------------------------------------
  */
}

/* ---------------------------------------------------------------------------------------------- */
/*  */
/* ---------------------------------------------------------------------------------------------- */
main{
  /*
  * -- Box model and Layout definitions ---------------------------------------------
  */
  display: grid;
  padding: 3rem 1.5rem;
  gap: 2rem;

  @media only screen and (max-width: 767px) {/* mobile */

  }

  @media only screen and (min-width: 767px) {/* desktop */
    margin-left: 18rem; // sidebar width
    margin-right: 18rem; // sidebar width
  }

  /*
  * -- Box and text styles definitions ----------------------------------------------
  */

  /*
  * -- Subcomponents and behaviours definitions -------------------------------------
  */
  > header{
    color: rgba(165, 162, 184, 0.60);
    font-family: DM Sans;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.00875rem;
  }
}

main > article.forms-wrapper{
  /*
  * -- Box model and Layout definitions ---------------------------------------------
  */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 2.5rem;

  /*
  * -- Subcomponents and behaviours definitions -------------------------------------
  */
  > header{
    color: #352E5B;
    font-family: DM Sans;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
  > hr {
    width: 100%;
    border: 1px #E9E9E9 solid;
  }
}

/* ---------------------------------------------------------------------------------------------- */
/*  */
/* ---------------------------------------------------------------------------------------------- */
main > article.forms-wrapper > section.select-doctor{
  /*
  * -- Box model and Layout definitions ---------------------------------------------
  */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;  

  > *{
    width: 100%;
  }

  > header{
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
  }
}

main > article.forms-wrapper > section.select-doctor > header > .tabs-group{
  display: flex;
  height: 38px;
  justify-content: center;
  align-items: center;

  > .tab{
    display: flex;
    padding: 0px 24px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-left: 1px solid #E9E9E9;
    &:last-child {
      border-right: 1px solid #E9E9E9;
    }
    &:hover{
      background-color: #F8F7FF;
      cursor: pointer;
    }
  }
}

main > article.forms-wrapper > section.select-doctor > header > .filters-group{
  /*
  * -- Box model and Layout definitions ---------------------------------------------
  */
  width: 100%;
  display: flex;
  padding: 0 32px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  /*
  * -- Subcomponents and behaviours definitions -------------------------------------
  */
  .options{
    display: flex;
    gap: 0.5rem;

    form, div{
      display: flex;
      height: 2.1rem;
      padding: 0.25rem 0.85rem;
      justify-content: space-between;
      align-items: center;
      gap: 0.25rem;
      border: 1px solid #E9E9E9;
      border-radius: 4px;
      color: #747474;
      font-family: DM Sans;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 184.615% */

      &:hover{
        background-color: #F8F7FF;
        cursor: pointer;
      }

      select{
        width: 1rem;
      }

      label{
        display: flex;
        align-items: center;
        gap: 0.25rem;
      }
    }
  }

  .search-bar{
    display: flex;
    width: 289px;
    padding: 6px 16px;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #E9E9E9;

    color: #BBB;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 184.615% */

    > input:focus {
      outline:none!important;
    }
  }
}

/* ---------------------------------------------------------------------------------------------- */
/*  */
/* ---------------------------------------------------------------------------------------------- */
section.select-doctor > form > fieldset{
  border: none;
}

section.select-doctor > form > fieldset > section.cards-grid{
  /*
  * -- Box model and Layout definitions ---------------------------------------------
  */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
  grid-template-rows: masonry;
  justify-items: center;
  gap: 1rem;
}

section.select-doctor > form > fieldset> section.cards-grid >  article.tile{
  /*
  * -- Box model and Layout definitions ---------------------------------------------
  */
  display: flex;
  width: 11.3125rem;
  height: 14.5625rem;
  padding: 0.625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  /*
  * -- Box and text styles definitions ----------------------------------------------
  */
  border-radius: 1.5rem;
  border: 1px solid #E9E9E9;
  background: #FFF;

  img{
    object-fit: cover;
    border-radius: 100%;
    width: 8rem;
    height: 8rem;
  }

  h1{
    color: #352E5B;
    font-family: DM Sans;
    font-size: 0.85rem;
    font-weight: 700;
  }

  p{
    color: #6B779A;
    text-align: center;
    font-family: DM Sans;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.0125rem;
  }

  /*
  * -- Subcomponents and behaviours definitions -------------------------------------
  */
  &:hover{
    cursor: pointer;
  }
}

/* ---------------------------------------------------------------------------------------------- */
/*  */
/* ---------------------------------------------------------------------------------------------- */
main > article.forms-wrapper > section.select-doctor > footer > nav > .pagination{
  display: flex;
  gap: 0.5rem;
  padding: 0.625rem 0.625rem 0.625rem 0rem;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

main > article.forms-wrapper > section.select-doctor > footer > nav > .pagination > .page-item{
  /*
  * -- Box model and Layout definitions ---------------------------------------------
  */
  border: 1px solid #E0E0E0;
  border-radius: 4px;

  &.active{
    border: none;
    background: none;
    a{
      cursor:default;
    }
  }
}

main > article.forms-wrapper > section.select-doctor > footer > nav > .pagination > .page-item > a{
  /*
  * -- Box model and Layout definitions ---------------------------------------------
  */
  display: flex;
  height: 2rem;
  padding: 0.25rem 0.7rem;
  align-items: center;
  text-decoration: none;

  /*
  * -- Box and text styles definitions ----------------------------------------------
  */
  color: #686868;
  font-size: 0.8125rem;
  line-height: 1.5rem; /* 184.615% */

  &:hover{
    background-color: #F8F7FF;
  }
}

/* ---------------------------------------------------------------------------------------------- */
/*  */
/* ---------------------------------------------------------------------------------------------- */
main > article.forms-wrapper > section.select-date{
  /*
  * -- Box model and Layout definitions ---------------------------------------------
  */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  align-self: stretch;  


  > h1{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
  }

  > form > fieldset{
    border: none;
    border-radius: 0.5rem;
    border: 1px solid #E1E1E1;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  }
}

/* ---------------------------------------------------------------------------------------------- */
/*  */
/* ---------------------------------------------------------------------------------------------- */
main > article.forms-wrapper > footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

main > article.forms-wrapper > footer > button.send-formulary{
  display: flex;
  width: 11.5rem;
  padding: 0.625rem 0rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  color: #FFF;
  font-family: DM Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  border-radius: 0.5rem;
  background: #42A7C3;

  &:hover{
    cursor: pointer;
  }
}

/* ---------------------------------------------------------------------------------------------- */
/*  */
/* ---------------------------------------------------------------------------------------------- */
}