.views-Landing{
/* ---------------------------------------------------------------------------------------------- */
/*  */
/* ---------------------------------------------------------------------------------------------- */
header{
  /*
  * -- Box model and Layout definitions ---------------------------------------------
  */
  display: flex;
  height: 6.4375rem;
  padding: 0rem 9.375rem;
  justify-content: space-between;
  align-items: center;

  /*
  * -- Box and text styles definitions ----------------------------------------------
  */

  /*
  * -- Subcomponents and behaviours definitions -------------------------------------
  */
  nav{
    a.login-button{

    }

    a.signup-button{

    }   
  }
}

/* ---------------------------------------------------------------------------------------------- */
/*  */
/* ---------------------------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------------------------------- */
/*  */
/* ---------------------------------------------------------------------------------------------- */
}